<?xml version="1.0"?>

<launch>
  <node name="joy_node" pkg="joy" type="joy_node" respawn="false" output="screen" >
    <param name="dev" type="string" value="/dev/input/js1"/>
  </node>
  
  <node name="image_view" type="image_view" pkg="image_view" args="image:=/raspicam/camera/image/  _image_transport:=compressed" output="screen" respawn="true" />
  
</launch>
